body {

  --highlight-primary: #DBEF06;

  
  --bg-1: #ffffff;
  --bg-2: #FAFAF5;
  --bg-3: #F2F2ED;
  --bg-4: #000000;


  --text-primary: #282828;
  --text-secondary: #9B9B9B;
  --text-ternary: #cccccc;
  --text-four: #6583d9;


  --header-height: 60px;
}
