.pt-4px {
    margin-top: 0.25rem;
}

.pr-4px {
    margin-right: 0.25rem;
}

.pb-4px {
    margin-bottom: 0.25rem;
}

.pl-4px {
    margin-left: 0.25rem;
}


.pt-8px {
    margin-top: 0.5rem;
}

.pr-8px {
    margin-right: 0.5rem;
}

.pb-8px {
    margin-bottom: 0.5rem;
}

.pl-8px {
    margin-left: 0.5rem;
}

.pt-12px {
    margin-top: 0.75rem;
}

.pr-12px {
    margin-right: 0.75rem;
}

.pb-12px {
    margin-bottom: 0.75rem;
}

.pl-12px {
    margin-left: 0.75rem;
}

.pt-16px {
    margin-top: 1rem;
}

.pr-16px {
    margin-right: 1rem;
}

.pb-16px {
    margin-bottom: 1rem;
}

.pl-16px {
    margin-left: 1rem;
}

.pt-20px {
    margin-top: 1.25rem;
}

.pr-20px {
    margin-right: 1.25rem;
}

.pb-20px {
    margin-bottom: 1.25rem;
}

.pl-20px {
    margin-left: 1.25rem;
}

.pt-24px {
    margin-top: 1.5rem;
}

.pr-24px {
    margin-right: 1.5rem;
}

.pb-24px {
    margin-bottom: 1.5rem;
}

.pl-24px {
    margin-left: 1.5rem;
}

.pt-28px {
    margin-top: 1.75rem;
}

.pr-28px {
    margin-right: 1.75rem;
}

.pb-28px {
    margin-bottom: 1.75rem;
}

.pl-28px {
    margin-left: 1.75rem;
}

.pt-32px {
    margin-top: 2rem;
}

.pr-32px {
    margin-right: 2rem;
}

.pb-32px {
    margin-bottom: 2rem;
}

.pl-32px {
    margin-left: 2rem;
}


.pt-36px {
    margin-top: 2.25rem;
}

.pr-36px {
    margin-right: 2.25rem;
}

.pb-36px {
    margin-bottom: 2.25rem;
}

.pl-36px {
    margin-left: 2.25rem;
}


.pt-40px {
    margin-top: 2.5rem;
}

.pr-40px {
    margin-right: 2.5rem;
}

.pb-40px {
    margin-bottom: 2.5rem;
}

.pl-40px {
    margin-left: 2.5rem;
}

.pt-44px {
    margin-top: 2.75rem;
}

.pr-44px {
    margin-right: 2.75rem;
}

.pb-44px {
    margin-bottom: 2.75rem;
}

.pl-44px {
    margin-left: 2.75rem;
}

.pt-48px {
    margin-top: 3rem;
}

.pr-48px {
    margin-right: 3rem;
}

.pb-48px {
    margin-bottom: 3rem;
}

.pl-48px {
    margin-left: 3rem;
}

.pt-52px {
    margin-top: 3.25rem;
}

.pr-52px {
    margin-right: 3.25rem;
}

.pb-52px {
    margin-bottom: 3.25rem;
}

.pl-52px {
    margin-left: 3.25rem;
}

.pt-56px {
    margin-top: 3.5rem;
}

.pr-56px {
    margin-right: 3.5rem;
}

.pb-56px {
    margin-bottom: 3.5rem;
}

.pl-56px {
    margin-left: 3.5rem;
}


.pt-64px {
    margin-top: 4rem;
}

.pr-64px {
    margin-right: 4rem;
}

.pb-64px {
    margin-bottom: 4rem;
}

.pl-64px {
    margin-left: 4rem;
}

.pt-72px {
    margin-top: 4.5rem;
}

.pr-72px {
    margin-right: 4.5rem;
}

.pb-72px {
    margin-bottom: 4.5rem;
}

.pl-72px {
    margin-left: 4.5rem;
}

.pt-80px {
    margin-top: 5rem;
}

.pr-80px {
    margin-right: 5rem;
}

.pb-80px {
    margin-bottom: 5rem;
}

.pl-80px {
    margin-left: 5rem;
}

.pt-88px {
    margin-top: 5.5rem;
}

.pr-88px {
    margin-right: 5.5rem;
}

.pb-88px {
    margin-bottom: 5.5rem;
}

.pl-88px {
    margin-left: 5.5rem;
}

.pt-96px {
    margin-top: 6rem;
}

.pr-96px {
    margin-right: 6rem;
}

.pb-96px {
    margin-bottom: 6rem;
}

.pl-96px {
    margin-left: 6rem;
}

.pt-104px {
    margin-top: 6.5rem;
}

.pr-104px {
    margin-right: 6.5rem;
}

.pb-104px {
    margin-bottom: 6.5rem;
}

.pl-104px {
    margin-left: 6.5rem;
}

.pt-112px {
    margin-top: 7rem;
}

.pr-112px {
    margin-right: 7rem;
}

.pb-112px {
    margin-bottom: 7rem;
}

.pl-112px {
    margin-left: 7rem;
}

.pt-120px {
    margin-top: 7.5rem;
}

.pr-120px {
    margin-right: 7.5rem;
}

.pb-120px {
    margin-bottom: 7.5rem;
}

.pl-120px {
    margin-left: 7.5rem;
}

